@chanset "urf-8";
body
{
  background: linear-gradient(180deg, rgba(212,255,194,1) 0%, rgba(157,250,114,1) 35%, rgba(67,255,0,1) 100%);
  font-size: : 12 pt; 
  font-family: Arial;
  text-align: center !important;
} 
