@charset "utf-8";
body
{
  background: linear-gradient(180deg, rgba(212,255,194,1) 0%, rgba(157,250,114,1) 35%, rgba(67,255,0,1) 100%);
  font-size: 12pt; 
  font-family: 'Arial', sans-serif;
  text-align: center !important;
} 

h1,h2 {
  font-size: 30pt;
  color: black;
  text-decoration: underscore;
}

a {
  color: blue;
  text-decoration: none;
}
  
#meu_site {
  text-align: center;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.subtitulo {
  text-align: center;
}

.header {
  background-color: aquamarine;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}